/* reference 3, the google font i used*/
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

*{
  box-sizing: border-box;
}

body {
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  background: linear-gradient(to bottom right, #9933ff 30%, #000066 70%);
  color: #ffffff;
}

footer{
  position: relative;
  background-color: #5806fd;
  padding: 0px;
  text-align: center;
  text-transform: uppercase;
}

h1{
  text-transform: uppercase;
  color: rgb(255, 217, 0);
}

li{
  text-align: left;
}

form{
  position: relative;
  max-width: 300px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;

  display: grid;
  width: 400px;
  grid-template-columns: 100% 100%;
  align-items: center;
  grid-gap: .5em;
}

.btn:hover{
  background: linear-gradient(to bottom right, #9933ff 30%, #000066 70% );
}

.btn {
  text-transform: uppercase;
  background: linear-gradient(to bottom right,  #000066 30%, #9933ff 70%);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}
.designchanges{
  width: 35em;
  height: 20em;
  margin: 5px;

}
.pfp{
  width:350px;
  height:550px;
}

a{
  color: white;
}

.logo{
  width: 100px;
  height: 100px;
  margin: 10px;
}

.coolpic{
  width: 30em;
  height: 45em;
  margin: 10px;
}

.validation{
  width: 40em;
  height: 25em;
  margin: 10px;
}
